body{
  /* background-color: darkgrey; */
  background-image: url(../Pictures/UntitledDesign.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
  border: 1px solid gold;
  border-radius: 5px;
  font-family: 'Island Moments', cursive;
  font-family: 'Metal Mania', cursive;
  font-family: 'Playfair Display', serif;
  font-family: 'Roboto', sans-serif;
  color: black;

}

.App{
  display: flex;
  flex-wrap: wrap;
  background-image: url();
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100px;
  flex-direction: column;
  align-items: center;
  /* padding-top: 100px; */
  text-align: center;
  /* color:floralwhite; */

}


.boxG{
  background-image: url(../gif/espeon.gif);
  background-size: 50px;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
  0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
  width: 100px;
  height: 50px;
  border: none;
  margin: 5px;
  border-radius: 5px;
  font-weight: bold;
 background-color: rgb(125, 132, 75);
  cursor: pointer;
}
.boxP{
  background-image: url(../gif/charmander_shiny.gif);
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
  0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
  width: 100px;
  height: 50px;
  border: none;
  margin: 5px;
  border-radius: 5px;
  font-weight: bold;
 background-color: rgb(125, 132, 75);
  cursor: pointer;
}
.dataStore, .reload, .darkMode1, .whiteMode1, .btn1,.btn2, .btn3, .btn4, .btn5, .btn6, .btn7, .btn8, .btn9, .btn10, .btn11, .btn12, .btn13, .btn14, .btn15{
  
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
  0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
  width: 100px;
  height: 50px;
  border: none;
  margin: 5px;
  border-radius: 5px;
  font-size: large;
  font-weight: bold;
 background-color: rgb(125, 132, 75);
  cursor: pointer;
}

.boxes3, .boxes2, .boxes{
  display: block;
  gap: 1px;
}
.endBtn{
  padding-top: 50px;
}
th{
  padding: 10px;
  font-size: 26px;
  color:rgb(49, 12, 12);
  font-weight: bolder;
  font-style: oblique;
}

td {
 
  padding-left: 40px;
  font-size: 26px;
  font-style: oblique;

}

table {
  border-collapse: collapse;
  width: 40%;
}

th {
  height: 20px;
}


footer {
  /* color: #fff; */
  padding: 20px;
}

.container {
  display: block;
  flex-wrap: wrap;
  flex-direction: column;
  padding-top: 150px;
}

.containerChange {
  display: block;
  flex-wrap: wrap;
  flex-direction: column;
}

p{
  display: flex;
  justify-content: center;
}

.container, .containerChange, p {
  margin: 0;
}

ul {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  display: inline-block;
  margin-right: 20px;
}

a {
  /* color: #fff; */
  text-decoration: none;
}

.espeon{
  display: flex;
  justify-content: center;
}